.menu-container{
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu-container nav{
  display: flex;
}
.menu-container a, button {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  font-size: 18px;
}
.menu-container button{
  background-color: transparent;
  border: none;
}
